In [1]:
import numpy as np 
import pandas as pd 
from pathlib import Path

# Problems

## Why protected areas above 100%

Some countries have some protected areas recorded as points with a reported area. This point data is more uncertain than protected areas reported as polygons because overlaps cannot be identified or resolved. For this reason the total for countries is provided with and without the inclusion of the total reported area of protected areas recorded as points. The reported area of protected areas recorded as points can (individually or cumulatively) exceed the reference area used to calculate these indicators so coverages of greater than 100% can sometimes be reported.

## Last update 

June 2020

## Historical data

Not all protected areas have a designation date recorded. When there is no designation date the protected area is deemed to have always existed, therefore historical data maybe be overestimated.

# Load Data

## Protected Areas

## Protected Area by management objective

Total for category is the total area protected under that IUCN management designation. Note that because overlaps among protected areas are relatively common, the total protected area for a country is typically less than the sum of the disaggregated areas.

In [2]:
DATA_PATH = Path('./data')
PROTECTED_AREAS = DATA_PATH / 'OECD' / 'PROTECTED_AREAS_OBJECTIVE.csv'

protected_area = pd.read_csv(PROTECTED_AREAS)

In [3]:
protected_area.shape

(71910, 23)

In [4]:
protected_area.head()

,COU,Country,DESIG,Designation,DOMAIN,Domain,MEASURE,Measure,CALCULATION,Calculation method,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,IA,Ia: Strict Nature Reserve,TERRESTRIAL,Terrestrial,SQKM,Square kilometers,ERASED,Erased against precedent categories,...,1970,KM2,Square kilometres,0,Units,NaN,NaN,34770.33,NaN,NaN
1,AUS,Australia,IA,Ia: Strict Nature Reserve,TERRESTRIAL,Terrestrial,SQKM,Square kilometers,ERASED,Erased against precedent categories,...,1980,KM2,Square kilometres,0,Units,NaN,NaN,103556.25,NaN,NaN
2,AUS,Australia,IA,Ia: Strict Nature Reserve,TERRESTRIAL,Terrestrial,SQKM,Square kilometers,ERASED,Erased against precedent categories,...,1990,KM2,Square kilometres,0,Units,NaN,NaN,127115.19,NaN,NaN
3,AUS,Australia,IA,Ia: Strict Nature Reserve,TERRESTRIAL,Terrestrial,SQKM,Square kilometers,ERASED,Erased against precedent categories,...,1995,KM2,Square kilometres,0,Units,NaN,NaN,133699.95,NaN,NaN
4,AUS,Australia,IA,Ia: Strict Nature Reserve,TERRESTRIAL,Terrestrial,SQKM,Square kilometers,ERASED,Erased against precedent categories,...,2000,KM2,Square kilometres,0,Units,NaN,NaN,136012.95,NaN,NaN

In [5]:
# unique values per column
protected_area.nunique()

COU                        127
Country                    127
DESIG                        9
Designation                  9
DOMAIN                       2
Domain                       2
MEASURE                      2
Measure                      2
CALCULATION                  1
Calculation method           1
SCOPE                        1
Scope                        1
YEA                         17
Year                        17
Unit Code                    2
Unit                         2
PowerCode Code               1
PowerCode                    1
Reference Period Code        0
Reference Period             0
Value                    10090
Flag Codes                   0
Flags                        0
dtype: int64

In [6]:
# filter only Terrestrial protected area
protected_area = protected_area[protected_area['Domain'] == 'Terrestrial']
protected_area.shape

(37944, 23)

In [7]:
# filter only percentages (squer km make no sense by different sizes of countrys)
protected_area = protected_area[protected_area['Unit'] == 'Percentage']
protected_area.shape

(18972, 23)

In [8]:
# filter only last 5 years
protected_area = protected_area[protected_area['Year'] >= 2015]
protected_area.shape

(6696, 23)

In [9]:
# select subset of columns needed
protected_area = protected_area[['Country', 'Year', 'Designation', 'Value']]

In [10]:
protected_area.head()

      Country  Year                Designation  Value
28  Australia  2015  Ia: Strict Nature Reserve   1.96
29  Australia  2016  Ia: Strict Nature Reserve   1.97
30  Australia  2017  Ia: Strict Nature Reserve   2.00
31  Australia  2018  Ia: Strict Nature Reserve   2.01
32  Australia  2019  Ia: Strict Nature Reserve   2.01

In [11]:
protected_area.describe()

              Year        Value
count  6696.000000  6696.000000
mean   2017.500000     6.513519
std       1.707953    48.089838
min    2015.000000     0.000000
25%    2016.000000     0.000000
50%    2017.500000     0.160000
75%    2019.000000     3.140000
max    2020.000000  1526.880000

In [12]:
protected_area['Designation'].unique()

array(['Ia: Strict Nature Reserve', 'Ib: Wilderness Area',
       'II: National Park', 'III: Natural Monument or Feature',
       'IV: Habitat or Species Management Area',
       'V: Protected Landscape or Seascape',
       'VI: Protected area with sustainable use of natural resources',
       'No IUCN category provided',
       'All, including data recorded as points'], dtype=object)

In [13]:
# check for missing values
protected_area.isna().sum()

Country        0
Year           0
Designation    0
Value          0
dtype: int64

In [18]:
df = protected_area.pivot(index=['Country', 'Year'], columns='Designation', values='Value')
df.columns.name = None
df.head()

              All, including data recorded as points  II: National Park  \
Country Year
APEC    2015                                   10.68               2.52
        2016                                   10.79               2.56
        2017                                   10.90               2.57
        2018                                   11.05               2.62
        2019                                   11.07               2.64

              III: Natural Monument or Feature  \
Country Year
APEC    2015                              0.13
        2016                              0.13
        2017                              0.13
        2018                              0.13
        2019                              0.13

              IV: Habitat or Species Management Area  \
Country Year
APEC    2015                                    1.83
        2016                                    1.83
        2017                                    1.83
        2018                                    1.83
        2019                                    1.83

              Ia: Strict Nature Reserve  Ib: Wilderness Area  \
Country Year
APEC    2015                       0.81                 1.34
        2016                       0.81                 1.35
        2017                       0.81                 1.35
        2018                       0.86                 1.40
        2019                       0.86                 1.40

              No IUCN category provided  V: Protected Landscape or Seascape  \
Country Year
APEC    2015                       0.81                                0.66
        2016                       0.80                                0.66
        2017                       0.87                                0.66
        2018                       0.87                                0.66
        2019                       0.87                                0.66

              VI: Protected area with sustainable use of natural resources
Country Year
APEC    2015                                               2.27
        2016                                               2.33
        2017                                               2.35
        2018                                               2.36
        2019                                               2.36

In [ ]:
df = df.rename({
    'Ia: Strict Nature Reserve': 'objective_1a',
    'Ib: Wilderness Area': 'objective_1b',
    'II: National Park': 'objective_2',
    'III: Natural Monument or Feature': 'objective_3',
    'IV: Habitat or Species Management Area': 'objective_4',
    'V: Protected Landscape or Seascape': 'objective_5',
    'VI: Protected area with sustainable use of natural resources': 'objective_6',
    'No IUCN category provided': 'no_objective_provided',
    'All, including data recorded as points': 'all_objectives'
})