In [1]:
import numpy as np 
import pandas as pd 
from pathlib import Path

In [2]:
DATA_PATH = Path('./data')
PROTECTED_AREAS = DATA_PATH / 'OECD' / 'PROTECTED_AREAS.csv'

df = pd.read_csv(PROTECTED_AREAS)

In [3]:
df.columns

Index(['COU', 'Country', 'DESIG', 'Designation', 'DOMAIN', 'Domain', 'MEASURE',
       'Measure', 'CALCULATION', 'Calculation method', 'SCOPE', 'Scope', 'YEA',
       'Year', 'Unit Code', 'Unit', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value', 'Flag Codes',
       'Flags'],
      dtype='object')

In [4]:
df.head()

,COU,Country,DESIG,Designation,DOMAIN,Domain,MEASURE,Measure,CALCULATION,Calculation method,...,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,ALL_INC_POINTS,"All, including data recorded as points",TERRESTRIAL,Terrestrial,PCNT,Percent of total land/EEZ area,NAIVE,Total for category,...,1970,PC,Percentage,0,Units,NaN,NaN,1.08,NaN,NaN
1,AUS,Australia,ALL_INC_POINTS,"All, including data recorded as points",TERRESTRIAL,Terrestrial,PCNT,Percent of total land/EEZ area,NAIVE,Total for category,...,1980,PC,Percentage,0,Units,NaN,NaN,2.81,NaN,NaN
2,AUS,Australia,ALL_INC_POINTS,"All, including data recorded as points",TERRESTRIAL,Terrestrial,PCNT,Percent of total land/EEZ area,NAIVE,Total for category,...,1990,PC,Percentage,0,Units,NaN,NaN,5.06,NaN,NaN
3,AUS,Australia,ALL_INC_POINTS,"All, including data recorded as points",TERRESTRIAL,Terrestrial,PCNT,Percent of total land/EEZ area,NAIVE,Total for category,...,1995,PC,Percentage,0,Units,NaN,NaN,6.11,NaN,NaN
4,AUS,Australia,ALL_INC_POINTS,"All, including data recorded as points",TERRESTRIAL,Terrestrial,PCNT,Percent of total land/EEZ area,NAIVE,Total for category,...,2000,PC,Percentage,0,Units,NaN,NaN,7.06,NaN,NaN

In [5]:
df.Country.unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg',
       'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Slovak Republic', 'Spain', 'Sweden', 'Switzerland',
       'United Kingdom', 'United States', 'G7', 'NAFTA', 'American Samoa',
       'Anguilla', 'Argentina', 'Armenia', 'Aruba', 'Azerbaijan',
       'Belarus', 'Bermuda', 'Brazil', 'British Virgin Islands',
       'Bulgaria', 'Cayman Islands', 'Chile',
       "China (People's Republic of)", 'Colombia', 'Cook Islands',
       'Costa Rica', 'Croatia', 'Cyprus', 'Estonia', 'Faeroe Islands',
       'Falkland Islands (Malvinas)', 'French Guiana', 'French Polynesia',
       'Georgia', 'Greenland', 'Guadeloupe', 'Guam', 'India', 'Indonesia',
       'Israel', 'Kazakhstan', 'Kyrgyzstan', 'Latvia', 'Lithuania',
       'Malta', 'Martinique', 'Mayotte', 'Moldova', 'Montserrat',
       'New Caledonia', 'Niue', 'Norfolk Island',
       'Northern Mariana Islands', 'Peru', 'Pitcairn', 'Puerto Rico',
       'Réunion', 'Romania', 'Russia', 'Saint Helena',
       'Saint Pierre and Miquelon', 'Saudi Arabia', 'Slovenia',
       'South Africa', 'Svalbard and Jan Mayen', 'Tajikistan',
       'Turkmenistan', 'Turks and Caicos Islands', 'Ukraine',
       'Uzbekistan', 'United States Virgin Islands', 'Wallis and Futuna',
       'World', 'Bouvet Island', 'Heard Island and McDonald Islands',
       'South Georgia and the South Sandwich Islands',
       'French Southern and Antarctic Lands',
       'United States Minor Outlying Islands',
       'British Indian Ocean Territory', 'Christmas Islands', 'ASEAN',
       'APEC', 'Guernsey', 'Isle of Man', 'Jersey', 'G20',
       'BRIICS economies - Brazil, Russia, India, Indonesia, China and South Africa',
       'Curacao', 'European Union (28 countries)', 'Sint Maarten',
       'Bonaire', 'OECD - Total', 'OECD - Europe',
       'Euro area (19 countries)', 'Saint Barthélemy',
       'OECD Asia Oceania', 'OECD America',
       'Eastern Europe, Caucasus and Central Asia',
       'Latin America and Caribbean', 'Middle East and North Africa',
       'Saint Martin', 'Clipperton Island'], dtype=object)